.App {
    /* border: 1px solid black; */
    font-family: sans-serif;
    text-align: center;
    position: relative;
    height: 100vh;
    background-color: #fecdd3;
    font-family: Georgia, 'Times New Roman', Times, serif
   
    
  }
  .center{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .emojipedia {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
  }
  
  input {
    padding: 1rem 7rem;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
  }

  .footer{
    position: fixed;
    width: 94vw;
    height: 4rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    border: 3px solid ;
    box-shadow: 5px 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #64020d;
    
}

.footerText{
    color: white;
    
}

ul{
    list-style-type: none;
    display: flex;
}

img{
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    
}


  